---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ '/feed.xml' | url | absoluteUrl(site.url) }}" rel="self" type="application/atom+xml"/>
  <link href="{{ '/' | url | absoluteUrl(site.url) }}" rel="alternate" type="text/html"/>
  <updated>{{ collections.feedPosts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ '/' | url | absoluteUrl(site.url) }}</id>
  <author><name>Josh Gunderson</name></author>
{%- for post in collections.feedPosts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ post.url | url | absoluteUrl(site.url) }}" rel="alternate" type="text/html"/>
    <id>{{ post.url | url | absoluteUrl(site.url) }}</id>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
{%- for c in post.data.categories %}
    <category term="{{ c }}"/>
{%- endfor %}
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(site.url) }}</content>
  </entry>
{%- endfor %}
</feed>
