---
permalink: /2026/10/08/a-short-history-of-my-websites/
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Moved</title>
<meta name="robots" content="noindex">
<link rel="canonical" href="{{ '/2026/10/09/a-clean-up-that-turned-into-digital-archaeology/' | url }}">
<meta http-equiv="refresh" content="0; url={{ '/2026/10/09/a-clean-up-that-turned-into-digital-archaeology/' | url }}">
</head>
<body>
<p>This post moved to <a href="{{ '/2026/10/09/a-clean-up-that-turned-into-digital-archaeology/' | url }}">A clean-up that turned into digital archaeology (and an overhaul)</a>.</p>
</body>
</html>
